<div class="d-flex justify-content-between">
    <h4>Add New Product</h4>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>


<div style="overflow: auto; height: 450px;">
    <form #form="ngForm" (submit) = "onSubmit(form)" autocomplete="off">

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Product Name</span>
            </div>
            <input required minlength="2" type="text" 
            class="form-control" 
            name="Name"
            #Name = "ngModel"
            [(ngModel)] = "service.formData.Name">
        </div>
        <div class="text-left text-danger"
        *ngIf = "Name.invalid && Name.touched">
        Please enter Product name
        </div>  

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Product Description</span>
            </div>
            <input required minlength="2" type="text" 
            class="form-control" 
            name="Description"
            #Description = "ngModel"
            [(ngModel)] = "service.formData.Description">
        </div>
        <div class="text-left text-danger"
        *ngIf = "Description.invalid && Description.touched">
        Please enter Product Description
        </div>  

        <button class="mt-4" mat-raised-button 
        color = "primary" type="submit"
        [disabled] = "form.invalid">Add Product</button>
    </form>
</div>
